body{
    background-color: rgb(65, 29, 6);
    font-size-adjust: 0.5;
} 

.text{
    color: red;
    border-style:groove;
    border-color:white;
    background-color: black;
    font-size: large;
    flex: 1;
    padding-left: 5px;
}
.container{
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: center;
}
h1{
    color: white;
    border-style:inset;
    border-color: red;
    background-color: black;
    font-size-adjust: 1.2;
    align-self: center;

}
#home-link-image{
    display: block;
    width: 450px;
    justify-self: center;
}
#female-vs-male{
  width: 300px;
  object-fit: contain;
}
#false{
    width: 250px;
    object-fit: contain;
}
.top-img{
    width: 200px;
    display: block;
    object-fit: contain;
}
#links{
    font-size-adjust: 0.3;
    background-color: black;
    color: beige;
    border-style:groove;
    border-radius: 10px;
    margin-top: 20px;
}
