h1 {
    font-family: Title;
}

h3 {
    font-family: Title;
}

li {
    font-family: Body;
}

p {
    font-family: Body;
}

.box {
    width: 100;
    height: 100%;
    padding: 10px;
    border: 2px  solid black;
    background-color: rgb(194, 227, 255);
    border-radius: 10px;
    text-align: center;
}

.no_underline {
    text-decoration: none;
}

.no_underline:hover {
    text-decoration: underline;
    color: rgb(0, 169, 152);
}

a {
    font-family: Title;
    color: black;
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

.section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.caption {
    font-size: 12px;
    font-style: italic;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 185, 255);
    display: flex;
    justify-content: center;
    border: 2px solid #1b88db;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;
    border-right: 2px solid #42b1f6;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #97dcff;
}

@font-face {
  font-family: Title;
  src: url(lemon_milk2/LEMONMILK-Medium.otf);
}

@font-face {
  font-family: Body;
  src: url(unageo2/ttf/Unageo-Medium.ttf);
}