body {
    background-color: rgb(111, 0, 255);
}
body{text-align: center;}
body{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
border {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.top-box{
position:fixed;
top:0;
left:0;     
width:100%;
height:50px;
background-color: rgb(0, 0, 0);
color: white;
display: flex;
align-items: center;
justify-content: center;
}